<?xml version="1.0" encoding="UTF-8"?>
<web-app>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	<display-name>Archetype Created Web Application</display-name>
	<servlet>
		<servlet-name>LoginServlet</servlet-name>
		<display-name>LoginServlet</display-name>
		<description>LoginServlet</description>
		<servlet-class>com.servletsController.LoginServlet</servlet-class>
		<init-param>
			<param-name>debug</param-name>
			<param-value>true</param-value>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>Logout</servlet-name>
		<display-name>Logout</display-name>
		<description>LoginServlet</description>
		<servlet-class>com.servletsController.Logout</servlet-class>
		<init-param>
			<param-name>debug</param-name>
			<param-value>true</param-value>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>RegisterServlet</servlet-name>
		<display-name>RegisterServlet</display-name>
		<description></description>
		<servlet-class>com.servletsController.RegisterServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CurrentAccountDisplay</servlet-name>
		<display-name>CurrentAccountDisplay</display-name>
		<description></description>
		<servlet-class>com.servletsController.CurrentAccountDisplay</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CurrentAccountTask</servlet-name>
		<display-name>CurrentAccountTask</display-name>
		<description></description>
		<servlet-class>com.servletsController.CurrentAccountTask</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ChangePassword</servlet-name>
		<display-name>ChangePassword</display-name>
		<description></description>
		<servlet-class>com.servletsController.ChangePassword</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/LoginServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Logout</servlet-name>
		<url-pattern>/Logout</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RegisterServlet</servlet-name>
		<url-pattern>/RegisterServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CurrentAccountTask</servlet-name>
		<url-pattern>/CurrentAccountTask</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ChangePassword</servlet-name>
		<url-pattern>/ChangePassword</url-pattern>
	</servlet-mapping>
	<error-page>
		<error-code>404</error-code>
		<location>/404.jsp</location>
	</error-page>
<!-- 	<error-page>-->
<!--		<error-code>java.lang.Exception</error-code>-->
<!--		<location>/error.jsp</location>-->
<!--	</error-page> -->
</web-app>